name: Build, Push, Deploy

on:
    push:
        branches: ["main"]
    workflow_dispatch:

env:
    IMAGE_REPO: santanugarai/pipelinetest # e.g., your-org/nodejs-app

jobs:
    build-push:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4

            - name: Login to registry
              uses: docker/login-action@v3
              with:
                  username: ${{ secrets.REGISTRY_USERNAME }}
                  password: ${{ secrets.REGISTRY_PASSWORD }}

            - name: Build and push
              uses: docker/build-push-action@v6
              with:
                  context: .
                  push: true
                  tags: |
                      ${{ env.IMAGE_REPO }}:latest
