name: Build, Push, Deploy

on:
    push:
        branches: ["main"]
    workflow_dispatch:

env:
    IMAGE_REPO: santanugarai/pipelinetest # e.g., your-org/nodejs-app

jobs:
    build-push:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4

            - name: Login to registry
              uses: docker/login-action@v3
              with:
                  username: ${{ secrets.REGISTRY_USERNAME }}
                  password: ${{ secrets.REGISTRY_PASSWORD }}

            - name: Build and push
              uses: docker/build-push-action@v6
              with:
                  context: .
                  push: true
                  tags: |
                      ${{ env.IMAGE_REPO }}:latest

    deploy-to-server:
        needs: build-push
        runs-on: ubuntu-latest
        steps:
            - name: Deploy over SSH
              uses: appleboy/ssh-action@v1
              with:
                  host: 54.91.4.29
                  username: ubuntu
                  key: ${{ secrets.DEPLOY_SSH_KEY }}
                  port: 3000
                  script: |
                      set -e
                      # Docker Hub image path: <namespace>/<repo>:latest
                      IMAGE="${{ env.IMAGE_REPO }}:latest"
                      # Login to Docker Hub (registry defaults to docker.io)
                      echo "${{ secrets.REGISTRY_PASSWORD }}" | docker login -u "${{ secrets.REGISTRY_USERNAME }}" --password-stdin
                      docker pull "$IMAGE"
                      docker stop "${{ secrets.CONTAINER_NAME }}" || true
                      docker rm "${{ secrets.CONTAINER_NAME }}" || true
                      docker run -d \
                         --name "${{ secrets.CONTAINER_NAME }}" \
                         --restart=always \
                         -p 3000:3000 \
                         "$IMAGE"
